.call-api-object {
  width: 100%;
  background-color: #F8F8F8;
  color: #333333;
  padding-top: 10px;
}

.call-api-object img {
  max-width: 90%;
}

.call-api-object h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.call-api-object h2 {
  font-size: 1.25rem;
}

.call-api-object h3 {
  font-size: 1rem;
}